html{
	height: 100%;
}
body{
	font-family: sans-serif;
	height: 100%;
}
h1{
	font-size: 18;
	color: #999;
	font-weight: 500;
}
input{
	border: 1px solid #999;
	border-radius: 20px;
	}
#url_input{
	width:30%;
	min-width: 200px;
	height: 50px;
	font-size:20px;
}
button{
	background: #FFF;
	color: #555;
	border: 1px solid #999;
	border-radius: 20px;
}
button:hover{
	background: #999;
	color: #FFF;
}
#top button{
	font-size:20px;
	width: 100px;
	height: 50px;
}
#app{
	width: 100%;
	height:100%;
	text-align: center;
}
#top{
	margin-top: 50px;
	height:20%;
}
#words-container{
	width: 50%;
	height: calc(80% - 100px);
	min-width: 300px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	border-radius: 10px;
	overflow: auto;
}
#word_table{
	width: 100%;
	font-size: 25px;
	color: #555;
}
#word_table tr:nth-child(even){
    background: #FFF;/* фон нечетных строк */
 }

#word_table tr:nth-child(odd){
    background: #EEEEFF;/* фон четных строк */
 }
#word_table td{
	text-align: center;
	width: 50%;
	height: 15px;
}
#cr{
	font-size: 25px;
}