<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Click-to-speak</title>
	{% load staticfiles %}
	<link rel="stylesheet" type="text/css" href="{% static '/css/main.css' %}">
</head>
<body>
	<div id="app">
		<div id="header">
			<span><a href ='#'>[[ reg ]]</a></span>
			<span><a href='#'>[[ log ]]</a></span>
		</div>
		<div id="top">
			<h1 id="headline">[[ headline ]]</h1>
  			<form v-on:submit.prevent='send'>
  				{% csrf_token %}
  				<input id="url_input" type="text" name="url">
  				<button type='submit'>Submit</button>
  			</form>	
		</div>
  		
  		<div v-bind:style='{ border: activeBorder }' id="words-container">
  			<span id='waiting' v-if="wait">Please, wait...</span>
  			<span id='empty' v-if="status === false">Empty result</span>
  			<span id='total' v-if="loaded">Total: [[ total ]] words.</span>
 		<table id='word_table'>
  			<tr v-for='(trans, word) in words'>
   					<td class='word'>[[ word ]]</td>
  					<td class='translation'>[[ trans ]]</td>		
  			</tr>
  		</table>
  		<span id='cr' v-if="loaded">
  			Powered by Yandex.Translate
  			<a href="http://translate.yandex.com/">http://translate.yandex.com/</a>
  		</span>	
  		</div>	
	</div>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1"></script>
	<script type="text/javascript" src="{% static '/js/main.js' %}"></script>
</body>
</html>